<div class="dashboard-wrapper">
    <h1><u>{{pagetitle}}</u></h1>
    <div class="dashboard-content">
        <ul class="content-box">
            <li>
                <h3>Total Todos</h3>
                <span class="count">{{totalTodos}}</span>
            </li>
            <li>
                <h3>Completed Todos</h3>
                <span class="count">{{totalCompletedTodos}}</span>
            </li>
            <li>
                <h3>Uncompleted Todos</h3>
                <span class="count">{{totalUncompletedTodos}}</span>
            </li>
        </ul>
    </div>
</div>
